body {
  font-family: "Open Sans", sans-serif;
  background: url("../images/bg-desktop.svg") center center no-repeat;
  background-size: cover;
  background-color: var(--violet);
  padding: 30px 70px 0;
  color: white;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .logo {
  height: 220px;
  width: 220px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 70px;
}

.main .illustration {
  max-width: 650px;
  height: 100%;
}

.main .text {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.main .text .slogan {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin: 20px 0;
  width: 80%;
}

.main .text .description {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.main .text .btn {
  display: inline-block;
}

.main .text .btn-register {
  font-size: 18px;
  color: var(--violet);
  background-color: white;
  border-radius: 50px;
  padding: 20px 60px;
  transition: 0.3s;
}

.main .text .btn-register:hover {
  color: white;
  background-color: var(--soft-magenta);
}

.footer {
  text-align: end;
  margin: 30px 0;
}

.footer .fa-brands {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  transition: 0.3s;
}

.footer .fa-brands:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

@media (max-width: 425px) {
  body {
    padding: 0 30px;
    background: url("../images/bg-mobile.svg") center center no-repeat;
    background-size: cover;
    background-color: var(--violet);
  }

  .header .logo {
    height: 150px;
    width: 150px;
  }
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 30px;
  }

  .main .illustration {
    max-width: 100%;
  }

  .main .text {
    align-items: center;
    justify-content: center;
  }

  .main .text .slogan {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .main .text .description {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 100%;
  }

  .main .text .btn .btn-register {
    font-size: 12px;
    padding: 10px 90px;
    margin-bottom: 50px;
    display: inline-block;
  }

  .footer {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer .fa-brands {
    font-size: 15px;
    padding: 5px;
  }
}
